@using PagedList
@using PagedList.Mvc
@using MiniBlog.Business.Helpers
@using MiniBlog.Entities.Concretes
@model PagedList.IPagedList<Blog>
@{ string color = "";}
@section PagedListStyle{
    <link href="~/Content/PagedList.css" rel="stylesheet" />
}
@*<div class="site-section">*@
<div class="container">
    <div class="row mb-5">
        <div class="col-12">
            <h2>Son Eklenenler</h2>
        </div>
    </div>
    <div class="row">
        @foreach (Blog blog in Model as IEnumerable<Blog>)
        {
            if (blog.Category.Name == "Teknoloji")
            {
                color = "post-category text-white bg-primary mb-3";
            }
            if (blog.Category.Name == "Seyahat")
            {
                color = "post-category text-white bg-warning mb-3";
            }
            if (blog.Category.Name == "Kültür")
            {
                color = "post-category text-white bg-success mb-3";
            }
            if (blog.Category.Name == "Ekonomi")
            {
                color = "post-category text-white bg-danger mb-3";
            }

            <div class="col-lg-4 mb-4">
                <div class="entry2">
                    <a href="/Blogs/BlogDetails/@blog.Id"><img src="@blog.Image" style="height:250px;" alt="Image" class="img-fluid rounded"></a>
                    <div class="excerpt">
                        <span class="@color">@blog.Category.Name</span>

                        <h2><a href="/Blogs/BlogDetails/@blog.Id">@blog.Title</a></h2>
                        <div class="post-meta align-items-center text-left clearfix">
                            <figure class="author-figure mb-0 mr-3 float-left"><img src="@blog.Author.Image" alt="Image" class="img-fluid"></figure>
                            <span class="d-inline-block mt-1">Yayımlayan <a href="#">@blog.Author.Name</a></span>
                            <span>&nbsp;-&nbsp; @blog.Date.ToString("MMMM dd yyyy")</span>
                        </div>

                        <p style="height:120px">@blog.Content.CharacterDelimiter(200)</p>
                        <p><a href="/Blogs/BlogDetails/@blog.Id">Devamını Oku..</a></p>
                    </div>
                </div>
            </div>
        }

    </div>

</div>
@*</div>*@
@section scripts{

    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

}
@Html.PagedListPager(Model, _pageNo => Url.Action("Index", "Blogs", new { pageNo = _pageNo }), PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new PagedListRenderOptions
{
    LinkToFirstPageFormat = "<<",
    LinkToPreviousPageFormat = "<",
    LinkToNextPageFormat = ">",
    LinkToLastPageFormat = ">>",
}, new AjaxOptions()
{
    HttpMethod = "GET",
    UpdateTargetId = "pagedList"
}))
