@using MiniBlog.Business.Helpers
@using MiniBlog.Entities.Concretes
@model IEnumerable<Blog>
@{
    ViewBag.Title = "BlogByCategory";
}

<div class="py-5 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <span>Kategori</span>
                <h3>@ViewBag.blogCategoryName</h3>
                <p>@ViewBag.blogCategoryDescription</p>
            </div>
        </div>
    </div>
</div>
<div class="site-section bg-white">
    <div class="container">
        <div class="row">
            @foreach (var blogCategory in Model)
            {
                <div class="col-lg-4 mb-4">
                    <div class="entry2">
                        <a href="/Blogs/BlogDetails/@blogCategory.Id"><img src="@blogCategory.Image" style="height:250px;" alt="Image" class="img-fluid rounded"></a>
                        <div class="excerpt">
                            <span class="post-category text-white bg-secondary mb-3">@blogCategory.Category.Name</span>

                            <h2><a href="/Blogs/BlogDetails/@blogCategory.Id">@blogCategory.Title</a></h2>
                            <div class="post-meta align-items-center text-left clearfix">
                                <figure class="author-figure mb-0 mr-3 float-left"><img src="@blogCategory.Author.Image" alt="Image" class="img-fluid"></figure>
                                <span class="d-inline-block mt-1"><a href="#">@blogCategory.Author.Name</a></span>
                                <span>&nbsp;-&nbsp; @blogCategory.Date.ToString("MMMM dd, yyyy")</span>
                            </div>

                            <p style="height:120px;">@blogCategory.Content.CharacterDelimiter(140)</p>
                            <p><a href="/Blogs/BlogDetails/@blogCategory.Id">Devamını Oku..</a></p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
